---
- hosts: web
  remote_user: root

  tasks:
    - name: add java ppa
      command: add-apt-repository -y ppa:webupd8team/java 

    - name: Automatically select the Oracle License
      shell: echo debconf shared/accepted-oracle-license-v1-1 select true | sudo debconf-set-selections

    - name: install java 7 from ppa
      apt: name=oracle-java7-installer state=installed update_cache=yes
